@page "/"

@inject MessageService message;



<AntDesign.Title Level="1">
    Enter Github Username
</AntDesign.Title>
<Search Placeholder="input search text" Size="@InputSize.Large" EnterButton="@("Search")" @bind-Value="@txtValue" OnPressEnter="OnSearch" OnSearch="OnSearch"/>
<div>
    <AntList Grid="gutter"  DataSource="@_items" >
        <Item Context="item">
            <AntDesign.Card Bordered="true">
                <div class="search-result">
                    <AntDesign.Avatar Src="@item.AvatarUrl" Size="small" class="search-result-avatar" />
              
                    @item.Login
                
                     <Button Type="Primary" Icon="arrow-right" class="search-result-link"><a href="@($"/users/{item.Login}")"></a></Button>
              
                </div>
         
            </AntDesign.Card>
        </Item>
    </AntList>
        
    
   
</div>

<style>
.search-result{
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-result-avatar{
    margin-right:10px !important;
}

.search-result-link{
    margin-left: auto;
}
</style>


@code{
    public ListGridType gutter = new ListGridType { Gutter = 15, Column = 3 };

    private string txtValue { get; set; }

    private void Handle(string value)
    {
        Console.WriteLine(value);
    }

    public async Task OnSearch()
    {
        await OnSearch(txtValue);
    }
}


        

    




