@page "/users/{Username}"



@if (userProfile != null)
{
        <AntDesign.Row Justify="center">
            <AntDesign.Col Span="5">
                    <Button Icon="twitter"> <a href="@($"https://twitter.com/intent/tweet?url=https://pearl2201.github.com/GithubProfileSummary/users/{Username}")">Share on Twitter</a></Button>
                    </AntDesign.Col>
                    <AntDesign.Col Span="5">
            
                    <Button Icon="facebook"> <a href="@($"https://facebook.com.com/sharer.php?u=https://pearl2201.github.com/GithubProfileSummary/users/{Username}")">Share on Facebook</a></Button>
                    </AntDesign.Col>
        </AntDesign.Row>
       <Divider />
    <AntDesign.Row>
        <AntDesign.Col Span="4">
            <AntDesign.Avatar Src="@userProfile.User.AvatarUrl" Size="128"/>
        </AntDesign.Col>
        <AntDesign.Col Span="20">
            <AntDesign.Descriptions>
                <DescriptionsItem Title="@("Username")">
                    @userProfile.User.Login
                </DescriptionsItem>
                <DescriptionsItem Title="@("Repos")">
                    @userProfile.User.PublicRepos
                </DescriptionsItem>
                <DescriptionsItem Title="@("Joined")">
                    @userProfile.User.CreatedAt
                </DescriptionsItem>
                <DescriptionsItem Title="@("Company")">
                    @userProfile.User.Company
                </DescriptionsItem>
                <DescriptionsItem Title="@("Github Link")">
                    @($"https://github.com/{Username}")
                </DescriptionsItem>
            </AntDesign.Descriptions>
            
        </AntDesign.Col>
    </AntDesign.Row>
    <Divider />
    <Line Data="quaterCommitCountData" Config="quaterCommitCountConfig" />
    <Divider />
    <AntDesign.Row>
        <AntDesign.Col Span="8">
            <Pie Data="reposPerLanguageData" Config="reposPerLanguageConfig" />
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <Pie Data="starsPerLanguageData" Config="starsPerLanguageConfig" />
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <Pie Data="commitsPerLanguageData" Config="commitsPerLanguageConfig" />
        </AntDesign.Col>
    </AntDesign.Row>
    <Divider />
    <AntDesign.Row>
        <AntDesign.Col Span="12">
            <Pie Data="commitsPerRepoData" Config="commitsPerRepoConfig" />
        </AntDesign.Col>
        <AntDesign.Col Span="12">
            <Pie Data="starsPerRepoData" Config="starsPerRepoConfig" />
        </AntDesign.Col>
    </AntDesign.Row>
}
else
{
    <AntDesign.Title>Data Fetching</AntDesign.Title>
    <Skeleton />
}


